{% extends 'blog/basic.html' %}
{% block title%} BlogVerse {% endblock %}

{% block body %}

   
    <div class="container my-3">
      <div class="row mb-2">
        {% for blog in blogs %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
             
              <h3 class="mb-0">{{blog.title}}</h3>
              <div class="mb-1 text-muted">{{blog.pub_date}}</div>
              <p class="card-text mb-auto">{{blog.chead0}}</p>
              <a href="/blog/blogpost/{{blog.post_id}}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img height="60%" width="30%" src="/media/{{blog.thumbnail}}" alt="" srcset="" style="
              height: 157px;
              width: 205px;
          ">
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
      </div><div class="row mb-2">
        {% endif %}

        {% endfor %}
      </div>
        
      
    </div>{% endblock %}
    