{% extends 'shop/basic.html' %}

{% block title%} Title of About {% endblock %}
{% block body%} 
<body>
    
    <main>
      <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          <a href="/shop/" class="d-flex align-items-center text-dark text-decoration-none">
            
            <span class="fs-4">About Us</span>
          </a>
        </header>
    
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Samaan.com</h1>
            <p class="col-md-12 fs-4">
               Samaan Private Limited is an Indian e-commerce company, headquartered in Bengaluru, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal. As of March 2017,Samman.com held a 39.5% market share of India's e-commerce industry.Samman.com has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.

In August 2018, American retail chain Walmart acquired a 77% controlling stake inSamman.com for US$16 billion, valuingSamman.com at around US$20 billion.Samman.com is valued at $37.6 billion as of 2022.[ It is planning to go public through a listing in the United States of America in 2023
            </p>
            <button class="btn btn-primary btn-lg" type="button">Our Vision</button>
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
              <h2>Our Beginning</h2>
              <p>
                In February 2014, Samaan partnered with Motorola Mobility to be the exclusive Indian retailer of its Moto G smartphone.[26] Motorola also partnered with Samaan on the Moto E, a phone targeted primarily towards emerging markets such as India. High demand for the phone following its midnight launch on 14 May caused the Samaan website to crash.[27] Samaan subsequently held exclusive Indian launches for other smartphones, including the Xiaomi Mi 3 in July 2014 (whose initial release of 10,000 devices sold out in around 5 seconds),[28] and the Redmi 1S and Redmi Note in late 2014
              </p>
              <button class="btn btn-outline-light" type="button">Our Parteners</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Sales</h2>
              <p>In October 2015, Samaan reprised the Big Billion Days event as a multi-day event exclusive to the Samaan app. Samaan bolstered its supply chain and introduced more fulfillment centers to meet customer demand.[40] Samaan achieved a gross merchandise volume of US$300 million during the event, with the largest volumes coming from fashion sales and the largest value coming from mobiles The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal. As of March 2017,Samman.com held a 39.5% market share of India's e-commerce industry.Samman.com has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.</p>
              <button class="btn btn-outline-secondary" type="button">Upcoming Sales</button>
            </div>
          </div>
        </div>
    
        <footer class="pt-3 mt-4 text-muted border-top">
         2023 &copy; <h3> Samman.com</h3>
        </footer>
      </div>
    </main>
    
    
        
      </body> {% endblock %}

    